:root {
	--penguin-size: 300px;
	--penguin-belly: white;
	--penguin-skin: black;
	--penguin-beak: orange;
}

.penguin {
	position: relative;
	display: block;
	margin: auto;
	margin-top: 5%;
	width: var(--penguin-size, 300px);
	height: var(--penguin-size, 300px);
}

.penguin-bottom {
	top: 40%;
	left: 23.5%;
	background: var(--penguin-skin, black);
	border-radius: 70% 70% 100% 100%;
	width: 53%;
	height: 45%;
}

.penguin-top {
	top: 10%;
	left: 25%;
	background: var(--penguin-skin, black);
	width: 50%;
	height: 45%;
	border-radius: 70% 70% 60% 60%;
}

.belly {
	top: 60%;
	left: 2.5%;
	background-color: var(--penguin-belly, white);
	width: 95%;
	height: 100%;
	border-radius: 70% 70% 100% 100%;
}
.right-cheek {
	top: 15%;
	left: 35%;
	background-color: var(--penguin-belly, white);
	width: 60%;
	height: 70%;
	border-radius: 70% 70% 60% 60%;
}

.left-cheek {
	top: 15%;
	left: 5%;
	background-color: var(--penguin-belly, white);
	width: 60%;
	height: 70%;
	border-radius: 70% 70% 60% 60%;
}

.left-eye {
	top: 35%;
	left: 25%;
	background-color: black;
	width: 15%;
	height: 17%;
	border-radius: 50%;
}
.right-eye {
	top: 35%;
	left: 60%;
	background-color: black;
	width: 15%;
	height: 17%;
	border-radius: 50%;
}
.sparkle {
	top: 25%;
	left: -23%;
	background-color: white;
	width: 150%;
	height: 100%;
	border-radius: 50%;
}
.blush-left {
	top: 65%;
	left: 15%;
	background-color: pink;
	width: 15%;
	height: 10%;
	border-radius: 50%;
	z-index: 5;
}
.blush-right {
	top: 65%;
	left: 70%;
	background-color: pink;
	width: 15%;
	height: 10%;
	border-radius: 50%;
	z-index: 5;
}

.beak-top {
	top: 60%;
	left: 40%;
	background: var(--penguin-beak, orange);
	width: 20%;
	height: 10%;
	border-radius: 50%;
}
.beak-bottom {
	top: 65%;
	left: 42%;
	background: var(--penguin-beak, orange);
	width: 16.5%;
	height: 10%;
	border-radius: 50%;
}
.left-hand {
	top: -5%;
	left: 90%;
	background: var(--penguin-skin, black);
	width: 25%;
	height: 70%;
	border-radius: 60% 60% 50% 50%;
	transform: rotate(-45deg);
}
.right-hand {
	top: -30%;
	left: -27%;
	background: var(--penguin-skin, black);
	width: 25%;
	height: 70%;
	border-radius: 60% 60% 50% 50%;
	transform: rotate(300deg);
}

.left-feet{
	top: 75%;
	left: 15%;
	background-color: orange;
	width: 25%;
	height: 10%;
	border-radius: 50%;
	transform: skewY(-18deg);
}
.penguin * {
	position: absolute;
}